*{
  padding: 0;
  margin: 0;
}

.container{
  margin: 10%;
  width: 1440px;
  height: 3040px;
  border-radius: 2%;
  /* background: #22195E; */
  overflow: hidden;
}

.background{
  background-image: url('./truckbg.svg');
  background-size: contain;
  width: 100%;
  height: 40%;
}

.content{
  width: 100%;
  height: 60%;
  background: #0F143A;
  display: flex;
  justify-content: space-between;
  padding: 5%;
  box-sizing: border-box;
}

.content > *{
  display: inline-block;
}

.timeButton{
  width: 600px;
  height: 600px;
  border-radius: 10%;
  background: #4D428D;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(255,255,255,0.8);
}

.title{
  display: inline-block;
  font-size: 80px;
}

.timeBox{
  font-weight: bold;
}

.amPm{
  font-size: 100px;
  line-height: 1;
}

.time{
  font-size: 180px;
  line-height: 1;
}